*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 30%;
    margin: 50px auto;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}
.email{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
}
input#email{
    width: 300px;
    padding: 10px;
    font-size: 20px;
}
button{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    transition: box-shadow 0.3s;
}
button:hover{
    box-shadow: 5px 5px 18px #888888;
}
h2{
    text-align: center;
}